<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="recode360.spreeadminapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Activities.ShowWebView"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ShowWebView" />
        </activity>

        <activity
            android:name=".Activities.EditProductActivity"
            android:label="@string/title_activity_edit_product"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.EditProductActivity" />
        </activity>

        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.LoginActivity" />
        </activity>

        <activity
            android:name=".Activities.BarcodeScanner"
            android:label="barcode scanner"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.BarcodeScanner" />
        </activity>


        <activity
            android:name=".Activities.OrdersActivity"
            android:label="@string/title_activity_orders"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.OrdersActivity" />
        </activity>

    </application>

</manifest>
